{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <link rel="stylesheet" href="{% static 'Loginify/base.css' %}">
</head>
<body>

<div class="welcome-container">
    {% if request.user.is_authenticated %}
    <h1>Welcome, {{ request.user.username }}</h1>
    {% else %}
    <h1>Welcome</h1>
    <p>Please choose an option:</p>
    {% endif %}
    
    {% block content %}
    {% endblock %}
    
    <div class="button-group">
        {% if request.user.is_authenticated %}
        <a href="{% url 'Loginify:getAllUsers' %}" class="btn">Get All Users</a>
        <a href="{% url 'Loginify:logout' %}">Logout</a>
        {% else %}
        <a href="{% url 'Loginify:login' %}" class="btn">Login</a>
        <a href="{% url 'Loginify:signup' %}" class="btn">Sign Up</a>
        {% endif %}
        
        
       
    </div>
</div>

</body>
</html>
